@model CodeGeist2019.Models.Book

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Book</h4>
    <hr />
    <div class="container">
        <div class="row">
            <dl class="col-4 float-left dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Title)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Title)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Price)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Rating)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Rating)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AgeLimit)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AgeLimit)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Category)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Category)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Views)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Views)
                </dd>
            </dl>
            <div class="col float-right">
                <h5><strong>View</strong></h5>
                <object data="\Books\@Html.DisplayFor(model => model.File.FilePath)" type="application/pdf"
                        width="450" height="550"></object>
            </div>
        </div>
    </div>
</div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
